<div class="row">
    <div class="col-md-6">
        <h2>.map() result - every item in array multiplied by 10.</h2>
        <p>See <code>/app/map/map.component.ts</code> for example code.</p>
        <pre>
{{ mapData | json }}
		</pre>

        <hr>

        <div class="quote text-center">
            "Apply a function/projection to each value of the source. Then emit the result."
        </div>
        <p>More information: <a href="https://www.learnrxjs.io/operators/transformation/map.html">
            https://www.learnrxjs.io/operators/transformation/map.html
        </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>.mapTo() result</h2>
        <p>See <code>/app/map/map.component.ts</code> for example code.</p>
        <pre>
{{ mapToData | json }}
		</pre>
        <hr>

        <div class="quote text-center">
            " Map every emitted item to a constant value."
        </div>
        <p>More information: <a href="https://www.learnrxjs.io/operators/transformation/mapto.html">
            https://www.learnrxjs.io/operators/transformation/mapto.html
        </a>
        </p>
    </div>
</div>