<h2>concat() result - with simulated delay</h2>
<p>See <code>/app/shared/services/data.service.ts</code> for example code.</p>
<pre>
  {{ concatData | json }}
</pre>
<hr>

<div class="quote text-center">
	"Subscribe to Observables in order. Only when the previous one completes, let me know. Then move to the next one."
</div>
<p class="text-center">
	More information:
	<a href="https://www.learnrxjs.io/operators/combination/concat.html">
		https://www.learnrxjs.io/operators/combination/concat.html
	</a>
</p>
