<h1>
	Multiple RxJS-operators in Action
</h1>
<h4>1. Basic streams</h4>
<a routerLink="stream" routerLinkActive="badge badge-info">Basic streams </a> |
<a routerLink="stream-multiple" routerLinkActive="badge badge-info">Multiple streams </a> |
<a routerLink="drag-drop" routerLinkActive="badge badge-info">Drag & Drop </a> |
<a routerLink="typeahead" routerLinkActive="badge badge-info">Typeahead demo </a> |
<hr>
<h4>2. Operators</h4>
<a routerLink="map" routerLinkActive="badge badge-info">map() </a> |
<a routerLink="filter" routerLinkActive="badge badge-info">filter() </a> |
<a routerLink="scan" routerLinkActive="badge badge-info">scan() </a> |
<a routerLink="concat" routerLinkActive="badge badge-info">concat() </a> |
<a routerLink="merge" routerLinkActive="badge badge-info">merge() </a> |
<a routerLink="mergemap" routerLinkActive="badge badge-info">mergeMap() </a> |
<a routerLink="forkjoin" routerLinkActive="badge badge-info">forkJoin() </a> |
<a routerLink="movie" routerLinkActive="badge badge-info">Movie App</a> |
<a routerLink="movie2" routerLinkActive="badge badge-info">Movie App 2</a> |
<a routerLink="progressive" routerLinkActive="badge badge-info">Progressive Enhancement</a> |
<hr>

<router-outlet></router-outlet>
