<h2>.filter() result </h2>
<p>See <code>/app/filter/filter.component.ts</code> for example code.</p>
<h3>Only even numbers from 1...10 pass our filter</h3>
<pre>
{{ filterData | json }}
</pre>
<h3>Only cities starting with 'H' pass our filter</h3>
<pre>
{{ cityData| json }}
</pre>
<hr>
<h2>Dynamic filtering</h2>
<h3>1. Reactive way: type a Character to filter on</h3>
<input type="text" [formControl]="myFormControl"
    class="input-lg">
<pre>
{{ cityDataReactive| json }}
</pre>
<hr>

<h3>2. Template driven way: type a Character to filter on</h3>
<input type="text" #modelCity
       (keyup)="filterCities(modelCity.value)"
       class="input-lg">
<pre>
{{ cityDataModel| json }}
</pre>
<hr>

<div class="quote text-center">
	"Emit only values that pass the provided condition"
</div>
<p class="text-center">More information:
	<a href="https://www.learnrxjs.io/operators/filtering/filter.html">
		https://www.learnrxjs.io/operators/filtering/filter.html
	</a>
</p>