<div class="row">
	<div class="col-md-12">
		<h1>Getting movies and details via .forkJoin()</h1>
		<p>This function does multiple things: </p>
		<ul>
			<li>First http-call: look up a series of movies, based on general movie name (=keyword).</li>
			<li>Second http-call: look up movie details for each movie, based on the movieId that is now available.</li>
			<li>Merge the data to the movies-object. A combination of <code>.flatMap()</code> and
				<code>.forkJoin()</code> is used.
			</li>
			<li>This Observable <em>only</em> emits once all http-calls are complete and the final object is composed.
			</li>
		</ul>
		<p>See <code>/app/shared/services/movie.service.ts</code> for example code.</p>
		<p>Based on the Open Movie Database API, at <a href="http://www.omdbapi.com/">www.omdbapi.com</a></p>
		<div>
			<input type="text"
				   #keyword
				   (keyup.enter)="searchMovies(keyword.value)"
				   class="form-control-lg"
				   placeholder="movie name...">
			<button class="btn btn-primary"
					(click)="searchMovies(keyword.value)">
				Find movies
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<tr *ngFor="let movie of movies"
				(click)="setMovie(movie)">
				<td>
					<img src="{{movie.Poster}}" class="moviePoster" alt="Poster van {{ movie.Title}}"/>
					{{ movie.Title}} - {{ movie.Year}}
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<div *ngIf="!currentMovie">
			<img src="assets/frozen.jpg" alt="General Frozen Poster" class="moviePoster">
			<p>Click on movie on the left for details</p>
		</div>
		<div *ngIf="currentMovie">
			<div class="jumbotron">
				<img src="{{currentMovie.Poster}}" class="moviePoster text-left"
					 alt="Poster van {{ currentMovie.Title}}">
				<h1>{{currentMovie.Title}}</h1>
				<h2>{{currentMovie.details.Released}}</h2>
				<h3>Featuring: {{ currentMovie.details.Actors}}</h3>
				<p>{{currentMovie.details.Plot}}</p>
				<button class="btn btn-primary" (click)="clear()">Clear</button>
			</div>
		</div>
	</div>
</div>
